.lt_product {
    padding: 10px;
}
.lt_product a{
    width: 48%;
    display: block;
    float: left;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
}
.lt_product a:nth-child(odd){
    float: right;
}
.lt_product img{
    width: 100%;
    display: block;
}

.lt_product .money{
    color: red;
}
.lt_product .oldmoney{
    text-decoration: line-through;
}



.lt_search {
    padding: 10px;
    position: relative;
}



.lt_search .search_input{
    height: 34px;
    font-size: 12px;
    border:1px solid #007aff;
    border-radius: 5px;
}
.lt_search .search_btn{
    position: absolute;
    top:10px;
    right: 10px;
    border-radius: 0 5px 5px 0;
}

.lt_sort{

    height: 30px;
    line-height: 30px;
    background-color: #eee;
    padding: 0 10px;
    font-size: 12px;
}
.lt_sort a{
    width: 25%;
    float: left;
    text-align: center;
    color:#666;
}

.lt_sort a.now{

    color:orange;
}
.loading {
    width: 40px;
    height: 40px;
    border: 3px solid #069;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 200px;
    animation: play 1s ease-in-out infinite;
  }
  
  
  @keyframes play {
    from{
      transform: translateX(-50%) rotate(0deg);
    }
    to{
      transform: translateX(-50%) rotate(360deg);
    }
  }